:root {
    --primary-color: #fc3;
    --secondary-color: #52bcff;
    --dark-color: #333;
    --grey-light-color: #f8f8f8;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    color: var(--dark-color);
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 1rem;
}

label strong {
    display: block;
}

input[type=text] {
    padding: 1rem 2rem;
    width: 100%;
}

input[type=submit] {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
    border: none;
    padding: 1rem 2rem;
}

.container {
    max-width: 90%;
    margin: auto;
    padding: 0 10%;
    position: relative;
}

nav {
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand_image {
    padding: 0.5rem;
    padding-left: 0;
}

nav .brand_image img {
    max-height: 60px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

#banner {
    background: url(../images/adorable-puppies.jpeg) var(--grey-light-color) center 70%;
    background-size: cover;
    height: 440px;
    display: flex;
    position: relative;
}

#banner::before {
    display: block;
    content: " ";
    position: absolute;
    height: inherit;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#banner .container {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: flex-start;
}

#banner .container h1 {
    font-size: 2.75rem;
    color: var(--white-color);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#banner .container p {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 200;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#banner .container .btn {
    justify-self: left;
    display: inline;
    flex-flow: wrap-reverse;
}

.section_content {
    padding: 4rem 0;
}

.section_content h2 {
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.section_content .container>h2::after {
    height: 0.2rem;
    border-radius: 4px;
    width: 5vw;
    margin: 0.5rem auto;
    content: "";
    display: block;
    background-color: var(--primary-color);
}

#stories.section_content .container>h2::after {
    background-color: var(--secondary-color);
}

.row {
    display: flex;
    column-gap: 2rem;
    justify-content: space-around;
}

#products .product h2 {
    text-align: left;
    margin-bottom: 1rem;
}

#products .product.row {
    margin-bottom: 2rem;
}

#products .product.row:nth-child(odd) {
    flex-direction: row-reverse;
}

#products .product.row .description {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#products .product.row img {
    border-radius: 0.25rem;
}

.card {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    overflow: hidden;
    transition: all 0.125s ease-in;
}

.card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.card img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.card .card_description {
    padding: 2rem;
}

.card .card_description p {
    font-weight: 300;
    text-align: center;
}

.card h2 {
    margin-bottom: 0.5rem;
}

.btn {
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 0.25rem;
    transition: all 0.125s ease-in;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn:hover {
    background-color: var(--primary-color);
    text-decoration: none;
}

.display-block {
    display: block;
}

#contact {
    background-color: var(--grey-light-color);
}

#contact form {
    display: flex;
    justify-content: center;
}

#contact form>* {
    width: 33%;
}

#contact label .label-text {
    display: none;
}

#contact form label input {
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    border-style: solid;
    border-radius: 0;
}

#contact form label:first-child input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

#contact form label:last-child input {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#contact form label:not(:first-child):not(:last-child) input {
    border-left: none;
    border-right: none;
}

#contact form label input[type=submit] {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    font-weight: bolder;
}

#stories {
    background: url(https://image.freepik.com/foto-gratis/resumen-degradado-gris_176532-7758.jpg) center 100%;
}

#stories .card {
    background-color: rgba(250, 250, 250, 0.5);
}

#stories .card h2 {
    font-size: 1.125rem;
}

footer {
    background-color: var(--dark-color);
    color: var(--grey-light-color);
    min-height: 4rem;
    display: flex;
}

footer .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .container a {
    color: var(--white-color);
}